body {
    background: url("/resources/pictures/background/bank.jpg") fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
    zoom: 1.4;
}

#home_about {
    /*background: rgba(0, 0, 0, .6);*/
    background: #26527C;
    opacity: 0.8;
    width: 500px;
    height: 610px
}

.div-1 {
    background-color: #ABBAEA;
}

.div-2 {
    background-color: #21627B;
}

.div-3 {
    background-color: #10626B;
}

.div-4 {
    background-color: #10625B;
}